name: Winamax Tracker

on:
  schedule:
    - cron: '0 * * * *' # S'exécute toutes les heures
  workflow_dispatch: # Permet de le lancer manuellement pour tester

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run script
        run: python tracker.py

      - name: Save changes
        run: |
          git config --global user.name 'Tracker Bot'
          git config --global user.email 'bot@github.com'
          git add historique_boosts.csv || echo "Aucun fichier à ajouter"
          git commit -m "Auto-update cotes $(date +'%Y-%m-%d %H:%M')" || echo "Rien à commit"
          git push
